# Python
__pycache__/
*.py[cod]
*$py.class

# Build / Distribution
build/
dist/
*.egg-info/

# Virtual Environments
venv/
env/

# Environment Variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Testing & Type Checking
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Streamlit Secrets
.streamlit/secrets.toml
