# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# Environment Variables
.env
.env.*

# Streamlit Secrets
.streamlit/secrets.toml

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
